*{
  margin: 0;
  padding: 0;
  font-family: "Wix Madefor Text";
  font-optical-sizing: auto;
  font-style: normal;
}


.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image:
    linear-gradient(#FFF 16px, transparent 0) ,
    linear-gradient(#FF3D00 16px, transparent 0) ,
    linear-gradient(#FF3D00 16px, transparent 0) ,
    linear-gradient(#FFF 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top , left bottom , right top , right bottom;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg)
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg)
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg)
  }
}

/* ........................................................................................................................ */


.loader1{
  display: block;
  position: relative;
  height: 32px;
  width: 200px;
  background: #fff;
  border:2px solid #fff;
  color: red;
  overflow: hidden;
}
.loader1::before{
  content: '';
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  animation: loading1 10s linear infinite;
}
.loader1:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: rgb(0,255,255);
  mix-blend-mode: difference;
  animation: percentage1 10s linear infinite;
}

@keyframes loading1 {
  0% { width: 0 }
  100% { width: 100% }
}
@keyframes percentage1 {
  0% { content: "0%"}
  5% { content: "5%"}
  10% { content: "10%"}
  20% { content: "20%"}
  30% { content: "30%"}
  40% { content: "40%"}
  50% { content: "50%"}
  60% { content: "60%"}
  70% { content: "70%"}
  80% { content: "80%"}
  90% { content: "90%"}
  95% { content: "95%"}
  96% { content: "96%"}
  97% { content: "97%"}
  98% { content: "98%"}
  99% { content: "99%"}
  100% { content: "100%"}
}



/* ................................................................. */

.rotate-x-180 {
  transition: transform 2s;
  transform-style: preserve-3d;
}

.rotate-x-180:hover {
  transform: rotatey(360deg);
  background-color: #39c276;
}

