/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px; /* Width for the sidebar */
  height: 100vh;
  margin: 13px;
  z-index: 20;
  background-color: white;
  border-radius: 10px; /* Optional: Add border radius */
  overflow-y: auto; /* Optional: Enable vertical scrolling if needed */
}

/* Sidebar Header */
.sidebar-header {
  padding: 20px;
  text-align: center;
  background-color: #171717; /* Dark background color for header */
  color: #ffffff; /* White text color */
  font-size: 24px;
  font-weight: bold;
  border-top-left-radius: 10px; /* Rounded top left corner */
  border-top-right-radius: 10px; /* Rounded top right corner */
}

/* Sidebar Menu */
.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

/* Sidebar Menu Items */
.sidebar-menu li {
  /* transition: background-color 0.3s, color 0.3s; */
  padding: 10px 20px;
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  position: relative; /* Position relative for pseudo-element */
}

.sidebar-menu li a {
  /* color: #333333; Dark text color */
  text-decoration: none;
  display: block;
}

/* Sidebar Menu Hover Effects */
.sidebar-menu li:hover {
  /* background-color: #ffeb3b; Yellow background color on hover */
  color: #000000 !important; /* Black text color on hover */
}

/* Active Menu Item */
.sidebar-menu li.active {
  background-color: #003366;
}

.sidebar-menu li.active a {
  color: #ffffff; /* White text color for active item */
}

.sidebar-menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Height of divider */
  /* background-color: #e0e0e0; */
}

/* Icon Styles */
.sidebar-menu li .icon {
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}

/* NavItem Hover Effects */
.nav-item:hover {
  background-color: #93c5fd; /* Yellow background color on hover */
  color: #000000 !important; /* Black text color on hover */
  transform: scale(1.1); /* Slightly enlarge */
  transition: transform 0.2s ease-in-out;
}
